* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fontepadrão: "Inter", serif;
}

body {
    background: url(../images/bg-mobile.jpg) no-repeat top center/cover;
}

body * {
    font-family:var(--fontepadrão);
    color: #ffffff;
}

#container {
    width: 360px;
    margin: 56px auto 0px;
    padding: 0px 24px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    display: block;
    width: 112px;
    margin: auto;
}

#profile p {
    font-style: normal;
    font-weight: bold;
    line-height: 24px;
    margin-top: 8px;
}

/* links */

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;
    
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    
    text-decoration: none;
    font-weight: bold;
    transition: background 0.5s;
}

ul li a:hover {
    background: rgb(255, 255, 255, 0.05);
    border: 1.5px solid white;
}